.dropbtn {
  color: black;
  background-color: white;
  font-size: 16px;

}

/*.dropdown {
  position: relative;
  
}*/

.dropdown-content {
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px;
  display: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

th{
	border: 2px solid black;
}

a{
	text-decoration: none;
}

