img.mappa
{
	width: 70%;
	height: auto;
}
p.immagine
{
	text-align:center;
}

p
{
	font-family: 'Brush Script MT', cursive;
	font-size: 25px;
}

body
{
	background-color:#e6ffff;
}

